---
import WeatherChart from '../components/WeatherChart';
import WeatherHeading from '../components/WeatherHeading.astro';

const todaysWeather = await fetch(`${import.meta.env.METEOR_URL}/weather/`);
const { data: weatherData } = await todaysWeather.json();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Weather Station</title>
  </head>
  <body>
    <WeatherHeading />
    <section>
      <h2 class="centered-text">Todays Temperature</h2>
      <WeatherChart data={weatherData} client:idle />
    </section>
  </body>
</html>

<style is:global>
  @import 'open-props/style';

  * {
    box-sizing: border-box;
  }

  :root {
    --base-hue: 200;
    --base-sat: 100%;
    --base-light: 60%;

    --card-temp: hsla(var(--base-hue), var(--base-sat), var(--base-light), 100%);
    --card-light: hsla(var(--base-hue), var(--base-sat), var(--base-light), 50%);

    --card-gradient: linear-gradient(45deg, var(--card-temp), var(--card-light));

    --bg-temp: hsla(var(--base-hue), var(--base-sat), 80%, 100%);
    --bg-light: hsla(var(--base-hue), var(--base-sat), 80%, 50%);

    --bg-gradient: linear-gradient(45deg, var(--bg-temp), var(--bg-light));
  }

  body {
    min-height: 100vh;
    height: 100%;
    background: var(--gray-2);
    font-family: var(--font-sans);
    background: var(--bg-light);
    margin: 0;
  }

  .centered-text {
    text-align: center;
  }
</style>
